@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
   background: lightgrey;
   color: black;
   font-family: 'Nunito';
}

h1 {
   font-size: 120px;
   color: 'palevioletred';
   font-family: 'Nunito';
}

a {
   font-style: Bold;
   text-decoration: none;
   font-family: 'Nunito';
}

.content {
   max-width: 960px;
}

footer {
   display: block;
   text-align: center;
   padding: 30px 0;
   margin-top: 60px;
   color: palevioletred;
   border-top: 1px solid #eaeaea;
   font-family: 'Nunito';
}
